/* import foundation and  component*/
@import url(foundation/bootstrap-reboot.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,900");
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg"); }

html {
  height: 100%; }

body {
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #444;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  [data-page="home"] body {
    overflow: hidden; }

[draggable=true] {
  -khtml-user-drag: element; }

a {
  color: #256D80; }
  a:link {
    color: #256D80;
    text-decoration: underline; }
  a:active, a:hover {
    color: #249EB3; }

label > input {
  margin-right: .3em; }

.unimplemented {
  color: red;
  margin-bottom: 0; }
  .unimplemented:before {
    content: "unimplemented: "; }

.ref-alt {
  font-weight: bold; }
  .ref-alt > .ref, .ref-alt > .alt {
    display: inline-block;
    line-height: 18px;
    height: 18px;
    padding: 0 6px;
    vertical-align: middle; }
    .ref-alt > .ref[data-sum]:after, .ref-alt > .alt[data-sum]:after {
      color: white;
      font-size: 10px;
      display: inline-block;
      line-height: 12px;
      padding: 0 4px;
      border-radius: 6px;
      vertical-align: middle;
      font-weight: lighter;
      margin: 0 -3px 4px 3px;
      position: relative;
      content: attr(data-sum) "bp"; }
    .ref-alt > .ref[data-sum="0"]:after, .ref-alt > .ref[data-sum="1"]:after, .ref-alt > .ref[data-sum="2"]:after, .ref-alt > .ref[data-sum="3"]:after, .ref-alt > .ref[data-sum="4"]:after, .ref-alt > .alt[data-sum="0"]:after, .ref-alt > .alt[data-sum="1"]:after, .ref-alt > .alt[data-sum="2"]:after, .ref-alt > .alt[data-sum="3"]:after, .ref-alt > .alt[data-sum="4"]:after {
      display: none; }
  .ref-alt > .ref {
    border-left: solid 1px #249EB3;
    border-top: solid 1px #249EB3;
    border-bottom: solid 1px #249EB3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #249EB3;
    background-color: #d8f0f4;
    position: relative;
    padding-right: 4px; }
    .ref-alt > .ref[data-sum]:after {
      background-color: #249EB3; }
  .ref-alt > .alt {
    border-right: solid 1px #FF6682;
    border-top: solid 1px #FF6682;
    border-bottom: solid 1px #FF6682;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FF6682;
    background-color: #fde2e7;
    padding-left: 9px; }
    .ref-alt > .alt[data-sum]:after {
      background-color: #FF6682; }
  .ref-alt > .arrow {
    position: relative; }
    .ref-alt > .arrow:before, .ref-alt > .arrow:after {
      content: "";
      display: inline-block;
      position: absolute; }
    .ref-alt > .arrow:before {
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 6px solid #249EB3;
      top: 0px;
      right: -6px; }
    .ref-alt > .arrow:after {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 6px solid #d8f0f4;
      top: 1px;
      right: -5px; }

.variant-function {
  color: white;
  border-radius: 9px;
  padding: 0 8px;
  display: inline-block; }
  .variant-function[data-function="T"], .variant-function[data-function="B"] {
    background-color: #24D636; }
  .variant-function[data-function="POSSD"] {
    background-color: #FFAE00; }
  .variant-function[data-function="D"], .variant-function[data-function="PROBD"] {
    background-color: #FF5A54; }
  .variant-function[data-function="U"] {
    color: #444;
    background-color: #eaeae9; }

.clinical-significance:before {
  content: attr(data-sign) "";
  width: 18px;
  line-height: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 9px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  vertical-align: top; }

.clinical-significance[data-sign="P"]:before {
  color: #FF5A54;
  border-color: #FF5A54;
  background-color: #ffeeed; }

.clinical-significance[data-sign="LP"]:before {
  color: #FFAE00;
  border-color: #FFAE00;
  background-color: #fff7e6; }

.clinical-significance[data-sign="US"]:before {
  color: #94928D;
  border-color: #94928D;
  background-color: #eaeae9; }

.clinical-significance[data-sign="LB"]:before {
  color: #9DCF3A;
  border-color: #9DCF3A;
  background-color: #f3f9e6; }

.clinical-significance[data-sign="B"]:before {
  color: #24D636;
  border-color: #24D636;
  background-color: #e5fbe7; }

.clinical-significance[data-sign="CI"]:before {
  color: #C654FF;
  border-color: #C654FF;
  background-color: #f9edff; }

.clinical-significance[data-sign="DR"]:before, .clinical-significance[data-sign="A"]:before, .clinical-significance[data-sign="RF"]:before, .clinical-significance[data-sign="PR"]:before, .clinical-significance[data-sign="AF"]:before, .clinical-significance[data-sign="O"]:before {
  color: #9C8200;
  border-color: #9C8200;
  background-color: #fff7cf; }

.clinical-significance[data-sign="NP"]:before, .clinical-significance[data-sign="AN"]:before {
  color: #444;
  border-color: #94928D;
  background-color: white; }

.clinical-significance-full {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 8.5px;
  padding: 0 7px; }
  .clinical-significance-full[data-sign="P"] {
    color: #FF5A54;
    border-color: #FF5A54;
    background-color: #ffeeed; }
  .clinical-significance-full[data-sign="LP"] {
    color: #FFAE00;
    border-color: #FFAE00;
    background-color: #fff7e6; }
  .clinical-significance-full[data-sign="US"] {
    color: #94928D;
    border-color: #94928D;
    background-color: #eaeae9; }
  .clinical-significance-full[data-sign="LB"] {
    color: #9DCF3A;
    border-color: #9DCF3A;
    background-color: #f3f9e6; }
  .clinical-significance-full[data-sign="B"] {
    color: #24D636;
    border-color: #24D636;
    background-color: #e5fbe7; }
  .clinical-significance-full[data-sign="CI"] {
    color: #C654FF;
    border-color: #C654FF;
    background-color: #f9edff; }
  .clinical-significance-full[data-sign="DR"], .clinical-significance-full[data-sign="A"], .clinical-significance-full[data-sign="RF"], .clinical-significance-full[data-sign="PR"], .clinical-significance-full[data-sign="AF"], .clinical-significance-full[data-sign="O"] {
    color: #9C8200;
    border-color: #9C8200;
    background-color: #fff7cf; }
  .clinical-significance-full[data-sign="NP"], .clinical-significance-full[data-sign="AN"] {
    color: #444;
    border-color: #94928D;
    background-color: white; }

.frequency-graph > .dataset {
  display: inline-block;
  width: 9px;
  height: 20px;
  border: solid 1px rgba(148, 146, 141, 0.25);
  position: relative;
  margin-right: 1px;
  background-color: #249EB3;
  vertical-align: middle; }
  .frequency-graph > .dataset:before, .frequency-graph > .dataset:after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    background-color: white; }
  .frequency-graph > .dataset:after {
    opacity: .75;
    height: 1px;
    top: 1px;
    box-shadow: 0 3px white, 0 6px white, 0 9px white, 0 12px white, 0 15px white; }
  .frequency-graph > .dataset[data-dataset="jga_ngs"], .frequency-graph > .dataset[data-dataset="jga_snp"] {
    background-color: #46B9CC; }
  .frequency-graph > .dataset[data-dataset="tommo"] {
    background-color: #C78198; }
  .frequency-graph > .dataset[data-dataset="hgvd"] {
    background-color: #005B80; }
  .frequency-graph > .dataset[data-dataset="exac"] {
    background-color: #628C00; }
  .frequency-graph > .dataset[data-frequency="na"] {
    background-color: rgba(234, 234, 233, 0.6); }
    .frequency-graph > .dataset[data-frequency="na"]:after {
      display: none; }
  .frequency-graph > .dataset[data-frequency="monomorphic"]:before {
    height: 18px; }
  .frequency-graph > .dataset[data-frequency="singleton"]:before {
    height: 17px; }
  .frequency-graph > .dataset[data-frequency="<0.0001"]:before {
    height: 14px; }
  .frequency-graph > .dataset[data-frequency="<0.001"]:before {
    height: 11px; }
  .frequency-graph > .dataset[data-frequency="<0.01"]:before {
    height: 8px; }
  .frequency-graph > .dataset[data-frequency="<0.05"]:before {
    height: 5px; }
  .frequency-graph > .dataset[data-frequency="<0.5"]:before {
    height: 2px; }

.frequency-detail {
  width: 100%; }
  .frequency-detail > tbody > tr > td {
    line-height: 18px; }
    .frequency-detail > tbody > tr > td .dataset-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: .2em; }
    .frequency-detail > tbody > tr > td.alt, .frequency-detail > tbody > tr > td.total, .frequency-detail > tbody > tr > td.frequency {
      text-align: right; }
    .frequency-detail > tbody > tr > td.alt {
      font-weight: bold;
      color: #FF6682; }
      .frequency-detail > tbody > tr > td.alt:after {
        content: "/";
        font-size: 10px;
        color: #444;
        margin-left: .5em; }
    .frequency-detail > tbody > tr > td.total {
      font-size: 10px; }

.allele-frequency-graph > .dataset {
  display: inline-block;
  width: 36px;
  height: 14px;
  border: solid 1px #ffffff;
  box-shadow: 0 0 0 1px #dfdedd;
  position: relative;
  margin-right: 1px;
  background-color: #249EB3;
  vertical-align: middle; }
  .allele-frequency-graph > .dataset:before, .allele-frequency-graph > .dataset:after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    background-color: white; }
  .allele-frequency-graph > .dataset:before {
    right: 0; }
  .allele-frequency-graph > .dataset:after {
    opacity: .75;
    width: 1px;
    top: 0;
    left: -1px;
    box-shadow: 5px 0 white, 10px 0 white, 15px 0 white, 20px 0 white, 25px 0 white, 30px 0 white; }
  .allele-frequency-graph > .dataset[data-dataset="jga_ngs"], .allele-frequency-graph > .dataset[data-dataset="jga_snp"] {
    background-color: #46B9CC; }
  .allele-frequency-graph > .dataset[data-dataset="tommo"] {
    background-color: #C78198; }
  .allele-frequency-graph > .dataset[data-dataset="hgvd"] {
    background-color: #005B80; }
  .allele-frequency-graph > .dataset[data-dataset="exac"] {
    background-color: #628C00; }
  .allele-frequency-graph > .dataset[data-frequency="na"] {
    background-color: rgba(234, 234, 233, 0.6); }
    .allele-frequency-graph > .dataset[data-frequency="na"]:after {
      display: none; }
  .allele-frequency-graph > .dataset[data-frequency="monomorphic"]:before {
    width: 35px; }
  .allele-frequency-graph > .dataset[data-frequency="singleton"]:before {
    width: 31px; }
  .allele-frequency-graph > .dataset[data-frequency="<0.0001"]:before {
    width: 26px; }
  .allele-frequency-graph > .dataset[data-frequency="<0.001"]:before {
    width: 21px; }
  .allele-frequency-graph > .dataset[data-frequency="<0.01"]:before {
    width: 16px; }
  .allele-frequency-graph > .dataset[data-frequency="<0.05"]:before {
    width: 11px; }
  .allele-frequency-graph > .dataset[data-frequency="<0.5"]:before {
    width: 6px; }

.dataset-icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/csssprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 200px 60px; }
  .dataset-icon[data-dataset="jga_ngs"], .dataset-icon[data-dataset="jga_snp"] {
    background-position: -40px 0; }
  .dataset-icon[data-dataset="tommo"] {
    background-position: -60px 0; }
  .dataset-icon[data-dataset="hgvd"] {
    background-position: -80px 0; }
  .dataset-icon[data-dataset="exac"] {
    background-position: -100px 0; }
  .dataset-icon[data-dataset="mgend"].-none {
    background-position: -20px 0; }
  .dataset-icon[data-dataset="clinvar"] {
    background-position: -120px 0; }

.variant-icon {
  width: 32px;
  height: 26px;
  background-image: url("../images/csssprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 200px 60px; }
  .variant-icon.-snv {
    background-position: 0 -20px; }
  .variant-icon.-insertion {
    background-position: -40px -20px; }
  .variant-icon.-deletion {
    background-position: -80px -20px; }
  .variant-icon.-indel {
    background-position: -120px -20px; }
  .variant-icon.-substitution {
    background-position: -160px -20px; }

.star-rating {
  display: inline-block;
  position: absolute;
  font-size: 15px; }
  .star-rating:after {
    content: "\02605\02605\02605\02605";
    color: #dfdedd; }
  .star-rating > .star-rating-item {
    position: absolute;
    overflow: hidden; }
    .star-rating > .star-rating-item:before {
      content: "\02605\02605\02605\02605";
      color: #249EB3; }
    .star-rating > .star-rating-item[data-stars="1"] {
      width: 25%; }
    .star-rating > .star-rating-item[data-stars="2"] {
      width: 50%; }
    .star-rating > .star-rating-item[data-stars="3"] {
      width: 75%; }
    .star-rating > .star-rating-item[data-stars="4"] {
      width: 100%; }

/* Commom */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto Condensed', sans-serif; }
  .table th {
    font-size: 12px;
    color: #94928d;
    font-weight: 500;
    vertical-align: baseline; }
  .table td {
    font-size: 14px;
    color: #444444;
    vertical-align: middle;
    white-space: nowrap; }
  .table th,
  .table td {
    border-bottom: 1px solid #dee2e6; }
  .table > thead {
    padding-top: 2px; }
    .table > thead > tr > th {
      text-align: left;
      padding-top: 14px;
      padding-bottom: 8px;
      border-bottom: 1px solid #444444; }
      .table > thead > tr > th:first-child {
        padding-left: 14px; }
  .table > tbody > tr > td:first-of-type {
    padding-left: 14px; }
  .table > tbody > tr:last-of-type > th,
  .table > tbody > tr:last-of-type > td {
    border: none; }
