<link rel="stylesheet" type="text/css" href="/stanza/common/assets/stylesheets/stanza.css"/>
<link rel="stylesheet" type="text/css" href="/stanza/variant_summary/assets/style.css"/>

{{#if binding}}
<div class="summary_table_wrapper">
  <table class="table">
    <tr>
      <th>Variant type</th>
      <td class="variant-type-value">
        <span class="{{binding.so_type}} variant-value">{{binding.type_label}}</span>
      </td>

      <th>Ref / Alt</th>
      <td>{{{print_allele binding}}}</td>
    </tr>

    <tr>
      <th>Position</th>
      <td>{{{print_position binding}}}</td>
      <th>hgvs</th>
      <td>
        <ul class="no-bullet">
          {{#each binding.hgvs}}
          <li>
            {{this}}
          </li>
          {{/each}}
        </ul>
      </td>
    </tr>
  </table>
</div>
{{else}}
<p class="error">No other variants on the same location</p>
{{/if}}
