@use "@/assets/css/common";

main {
  max-height: calc(var(--togostanza-canvas-height) * 1px);
  overflow: scroll;
}

.table > tbody > tr {
  > td {
    vertical-align: baseline;

    &.title {
      padding-left: 14px;
    }
  }

  &:first-of-type > td {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
      border: none;
    }
  }
}
