@use "@/assets/css/common";
@use "@/assets/css/foundation/variables" as *;

main {
  max-height: calc(var(--togostanza-canvas-height) * 1px);
  background-color: white;

  .table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: var(--border-table-bottom);

    > thead {
      position: sticky;
      top: 0;
      z-index: var(--z-index-sticky-table-header);
      background-color: white;
      border-bottom: var(--border-table-bottom);
    }

    > tbody {
      > tr {
        > td {
          vertical-align: baseline;

          &.title {
            padding-left: 14px;
          }

          &.extends-to-last-row {
            border-bottom: none;
          }
        }
      }
    }
  }
}
