.table.other_alternative_alleles > tbody > tr > td {
  height: 26px;
}

.table.other_alternative_alleles > tbody > tr > td > .badge {
  font-size: 10px;
  border: solid 1px #94928D;
  border-radius: 7px;
  background-color: #eaeae9;
  padding: 0 4px;
  margin-left: 4px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
}

.table.other_alternative_alleles > tbody > tr > td > .variant-function {
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 20px;
}

.table.other_alternative_alleles > tbody > tr > td.id {
  padding-left: 14px;
}

.table.other_alternative_alleles > tbody > tr > td.id > a {
  font-size: 15px;
}

.table.other_alternative_alleles > tbody > tr > td.type {
  font-weight: bold;
}

.table.other_alternative_alleles > tbody > tr > td.consequence {
  font-size: 12px;
  position: relative;
}

.table.other_alternative_alleles > tbody > tr > td.clinical_significance_wrapper {
  position: relative;
}
