@use "@/assets/css/common";
@use "@/assets/css/foundation/variables" as *;

.table> {
  thead>tr {
    >th {
      white-space: nowrap;
      padding-right: 4px;

      &[rowspan] {
        vertical-align: bottom;
      }

      &[colspan] {
        font-size: 10px;
        color: $COLOR_BLACK;
        padding-left: 7px;
        padding-top: 3px;
        padding-bottom: 0;
        border: none;
        border-left: 1px solid #dee2e6;
      }

      &.frequency {
        padding-left: 20px;
      }

      &.num_genotype_hetero,
      &.num_genotype_ref_homo {
        padding-left: 17px;
      }

      &.alt,
      &.filter_status {
        padding-left: 7px;
        border-left: 1px solid #dee2e6;
      }
    }

    &:nth-of-type(2)>th {

      &.alt,
      &.alt+th,
      &.frequency,
      &.num_genotype_alt_homo,
      &.num_genotype_hetero,
      &.num_genotype_ref_homo {
        padding-top: 0;
      }
    }
  }

  tbody {
    border-bottom: 1px solid #dee2e6;

    >tr {

      &.sub-layer,
      &.layer1-nonchild,
      &.layer1-haschild,
      &.layer2,
      &.layer2-nonchild,
      &.layer3 {
        display: none;
      }

      &.show-by-total,
      &.show-by-sub,
      &.show {
        display: table-row;
      }

      &.close-by-total,
      &.close-by-sub {
        display: none;
      }

      >td {
        padding-right: 5px;

        &.dataset {
          white-space: nowrap;
          padding-left: 14px;

          &.layer-none {
            border-top: 1px solid #dee2e6;
          }

          &.layer-total {
            border-top: 1px solid #dee2e6;
            border-bottom: none;
          }

          &.sub-layer,
          &.layer1-haschild,
          &.layer1-nonchild,
          &.layer2,
          &.layer2-nonchild,
          &.layer3 {
            visibility: hidden;
            border: none;
          }
        }

        &.population {
          &.layer-total {
            padding-left: 12px;
          }

          &.sub-layer,
          &.layer1-haschild,
          &.layer1-nonchild {
            padding-left: 28px;
          }

          &.layer2,
          &.layer2-nonchild {
            padding-left: 44px;
          }

          &.layer3 {
            padding-left: 60px;
          }

          &.layer-total,
          &.sub-layer,
          &.layer1-haschild,
          &.layer2 {
            &::before {
              content: '';
              position: relative;
              right: 4px;
              bottom: 2px;
              display: inline-block;
              width: 6px;
              height: 6px;
              border-right: 1px solid $COLOR_BLACK;
              border-bottom: 1px solid $COLOR_BLACK;
              transform: rotate(-45deg);
            }

            &.open {
              &::before {
                right: 0px;
                bottom: 3px;
                margin-right: 3px;
                transform: rotate(45deg);
              }
            }

          }
        }

        &.num_alt_alleles {
          text-align: right;
          color: $COLOR_ALT;
          border-left: 1px solid #dee2e6;

          .slash {
            font-size: 10px;
            color: $COLOR_BLACK;
            margin-left: 7px;
            margin-right: 4px;
          }
        }

        &.num_alleles {
          color: $COLOR_BLACK;
          text-align: right;
        }

        &.frequency {
          padding-left: 20px;
          box-sizing: content-box;
          text-align: left;
          width: 58px;
        }

        &.num_genotype_alt_homo {
          border-left: 1px solid #dee2e6;
        }

        &.num_genotype_alt_homo,
        &.num_genotype_hemi_alt {
          text-align: right;
          color: $COLOR_ALT;
        }

        &.num_genotype_hetero {
          text-align: right;
          color: $COLOR_BLACK;
        }

        &.num_genotype_ref_homo,
        &.num_genotype_hemi_ref {
          text-align: right;
          color: $COLOR_KEY_DEEP;
        }

        &.filter {
          color: $COLOR_SIGN_DANGEROUS;
          padding: 0 0 0 7px;
          border-left: 1px solid #dee2e6;

          &[data-filter="PASS"] {
            color: $COLOR_SIGN_SAFE;
          }
        }

        &.nodata-message {
          text-align: center;
        }
      }
    }
  }
}