@use "@/assets/css/common";

main {
  .variant-gene-list {
    display: grid;
    grid-template-columns: 130px minmax(0, 1fr);
    width: 100%;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;

    dt,
    dd {
      display: flex;
      align-items: center;
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 1.2;
      border-bottom: 1px solid var(--color-table-border);
    }

    dt {
      padding-left: 10px;
      font-size: 12px;
      font-weight: bold;
      color: var(--color-black);
      white-space: nowrap;
    }

    dd {
      padding-right: 10px;
      padding-left: 12px;
      margin: 0;
      font-size: 14px;
      color: var(--color-black);
      overflow-wrap: anywhere;

      a {
        color: var(--color-key-dark2);

        &:hover {
          color: var(--color-key-dark1);
        }
      }
    }

    .gene-values {
      padding: 0;
      margin: 0;
      line-height: 1.2;
      list-style: none;

      li + li {
        margin-top: 2px;
      }
    }
  }
}
