.table > tbody > tr:first-of-type > td:nth-of-type(1),
.table > tbody > tr:first-of-type > td:nth-of-type(2),
.table > tbody > tr:first-of-type > td:nth-of-type(3) {
  border: none;
}

.table > tbody > tr > td:first-of-type {
  padding-left: 0;
}

.table > tbody > tr > td {
  vertical-align: baseline;
}

.table > tbody > tr > td.title {
  padding-left: 14px;
}

.table > tbody > tr > td.condition:before {
  content: "\022c5";
  display: inline-block;
  margin-right: 4px;
}

.table > tbody > tr > td.review-status {
  position: relative;
  min-width: 97px;
  white-space: initial;
  height: 40px;
}
