@use "@/assets/css/common";

main {
  min-height: calc(var(--togostanza-canvas-height) * 1px);
  max-height: calc(var(--togostanza-canvas-height) * 1px);
  background-color: white;

  .table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;

    > thead {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: white;
      border-bottom: 1px solid #444444;
    }

    > tbody {
      > tr {
        > td {
          vertical-align: baseline;
  
          &.title {
            padding-left: 14px;
          }
        }
      }
    }
  }
}