.table > thead > tr:nth-of-type(1) > th {
  padding-top: 0;
}

.table > thead > tr:nth-of-type(2) > th {
  padding: 0;
  transform: translateY(-3px);
}

.table > thead > tr > th[colspan="3"], .table > thead > tr > th[colspan="4"] {
  font-size: 10px;
  color: #444444;
  padding: 0 0 0 7px;
  border: none;
  border-left: 1px solid #dee2e6;
}

.table > thead > tr > th[rowspan="2"] {
  padding-bottom: 0px;
  transform: translateY(8px);
}

.table > thead > tr > th.frequency {
  padding-left: 20px;
}

.table > thead > tr > th.num_genotype_hetero {
  transform: translate(18px, -3px);
}

.table > thead > tr > th.num_genotype_ref_homo {
  transform: translate(17px, -3px);
}

.table > thead > tr > th.alt {
  padding: 0 0 0 7px;
  border-left: 1px solid #dee2e6;
}

.table > thead > tr > th.filter_status {
  padding: 0 0 0 7px;
  border-left: 1px solid #dee2e6;
}

.table > tbody > tr > td {
  height: 26.4px;
  vertical-align: middle;
}

.table > tbody > tr > td.dataset {
  width: 150px;
  padding-left: 14px;
}

.table > tbody > tr > td.population {
  width: 182px;
}

.table > tbody > tr > td.num_alt_alleles {
  text-align: right;
  color: #ff6682;
  border-left: 1px solid #dee2e6;
}

.table > tbody > tr > td.num_alt_alleles .slash {
  font-size: 10px;
  color: #444444;
  margin-left: 7px;
  margin-right: 4px;
}

.table > tbody > tr > td.num_alleles {
  color: #444444;
  text-align: right;
}

.table > tbody > tr > td.frequency {
  padding-left: 20px;
  box-sizing: content-box;
  text-align: left;
  width: 58px;
}

.table > tbody > tr > td.num_genotype_alt_homo {
  text-align: right;
  color: #ff6682;
  border-left: 1px solid #dee2e6;
}

.table > tbody > tr > td.num_genotype_hetero {
  text-align: right;
  color: #444444;
}

.table > tbody > tr > td.num_genotype_ref_homo {
  text-align: right;
  color: #249eb3;
  box-sizing: content-box;
  padding-right: 39px;
}

.table > tbody > tr > td.filter {
  color: #94928d;
  padding: 0 0 0 7px;
  border-left: 1px solid #dee2e6;
}

.table > tbody > tr > td.filter .green {
  color: #24d636;
}

.table > tbody > tr > td.filter .red {
  color: #FF5A54;
}

.table > tbody > tr.parent > td:first-child {
  padding-right: 20px;
  visibility: visible;
  border: none;
  position: relative;
}

.table > tbody > tr.parent.open > td.dataset {
  border-bottom-color: transparent;
}

.table > tbody > tr.child {
  transition: .3s;
}

.table > tbody > tr.child > td.dataset {
  visibility: hidden;
  border: none;
}

.table > tbody > tr.child.hidden {
  display: none;
}

.table > tbody > tr.parent > td:after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 1px #444444;
  border-right: solid 1px #444444;
  transform: rotate(135deg);
  position: absolute;
  top: 7px;
  right: 6px;
  display: inline-block;
  transition: .3s;
}

.table > tbody > tr.parent.open > td:after {
  transform: rotate(-45deg);
}
