// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

.table {
  &.gene-header {
    position: relative;
    top: -2px;
    thead tr th {
      font-size: 12px;
      text-align: var(--text-align);
      color: #1f5065;
      border-bottom: 0px;
      font-weight: bold;
      padding: 1px;
    }
    tbody td {
      font-size: 14px;
      text-align: var(--text-align);
      padding: 1px 28px 1px 1px!important;
      color: #ffffff;
    }
  }
}