@use "@/assets/css/common";

.gene-header {
  .pagetype {
    font-size: 14px;
    text-align: var(--text-align);
    color: #1f5065;
    border-bottom: 0;
    font-weight: bold;
    margin: 0;
    padding: 1px;
    line-height: 16px;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
    text-align: var(--text-align);
    margin: 0;
    padding: 1px 1px 1px 1px !important;
    color: #ffffff;
    line-height: 28px;
  }
}
