@use "@/assets/css/common";

.gene-header {
  .pagetype {
    padding: 1px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #1f5065;
    text-align: var(--text-align);
    border-bottom: 0;
  }

  .title {
    padding: 1px !important;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    text-align: var(--text-align);
  }
}

togostanza--menu {
  display: none;
}
