@use "@/assets/css/common";

main {
  max-height: calc(var(--togostanza-canvas-height) * 1px);

  .table > tbody > tr > td {
  height: 26px;

    > .alphamissense-label,
    > .sift-label,
    > .polyphen-label {
      font-size: 12px;
      margin-left: 5px;
    }
  }
}