@use "@/assets/css/common";

.table > tbody > tr > td {
  height: 26px;

    > .sift-label,
    > .polyphen-label,
    > .alphamissense-label {
      font-size: 12px;
      margin-left: 5px;
    }
  }
