<style>
  @import url("/css/stanza.css");
</style>

<table class="table">
  {{#if bindings}}
  <thead>
  <tr>
    <th rowspan="2">Dataset</th>
    <th rowspan="2">Population</th>
    <th colspan="3">Allele count</th>
    <th colspan="3">Genotype count</th>
    <th rowspan="2">Filter status</th>
    <th rowspan="2">Quality score</th>
  </tr>
  <tr>
    <th>Alt</th>
    <th>Total</th>
    <th>Frequency</th>
    <th>Alt / Alt</th>
    <th>Alt / Ref</th>
    <th>Ref / Ref</th>
  </tr>
  </thead>
  {{/if}}

  <tbody>
  {{#each bindings}}
  <tr>
    <td>{{dataset}}</td>
    <td>{{population}}</td>

    <td>{{num_alt_alleles}}</td>
    <td>{{num_alleles}}</td>
    <td>{{frequency}}</td>

    <td>{{num_genotype_alt_homo}}</td>
    <td>{{num_genotype_hetero}}</td>
    <td>{{num_genotype_ref_homo}}</td>

    <td>{{filter}}</td>
    <td>{{quality}}</td>
  </tr>
  {{else}}
  <tr>
    <td>No data</td>
  </tr>
  {{/each}}
  </tbody>
</table>
