{{#with result}}
<div class="table header-xref gene-header">
  {{#each xrefs}}
  <p class="pagetype">{{name}}</p>
  {{/each}}
  {{#each xrefs}}
  <h2 class="title report-gene">
    {{#each refs}}
      {{this.label}},
    {{/each}}
    {{#each approved_name}}
      {{this.label}}
    {{/each}}
  </h2>
  {{/each}}
</div>
{{/with}}
