@charset "UTF-8";
@use "foundation/fontawesome";
@use "foundation/variables";
@use "components/badge";
@use "components/clinical-significance";
@use "components/dataset-icon";
@use "components/dataTable_wrapper";
@use "components/external-link";
@use "components/frequency";
@use "components/table";
@use "components/variant-function";
@use "components/within-sticky-table-header";

main {
  font-family: "Roboto Condensed", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-key-dark2);

  &:link {
    color: var(--color-key-dark2);
    text-decoration: underline;
  }

  &:active,
  &:hover {
    color: var(--color-key-dark1);
  }
}

label > input {
  margin-right: 0.3em;
}

ul {
  padding-inline-start: 2rem;

  &.no-bullet {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.table {
  > thead > tr > th {
    + th {
      padding-left: 10px;
    }
  }

  > tbody > tr > td {
    padding-left: 10px;

    &.text-center {
      padding: 14px 0 0;
      text-align: center;
    }
  }
}

.alert {
  padding: 4px 6px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: var(--color-black);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  &.alert-danger {
    background-color: var(--color-sign-dangerous-light);
    border-color: var(--color-sign-dangerous-dark);
  }

  &.alert-warning {
    background-color: var(--color-sign-warning-light);
    border-color: var(--color-sign-warning-dark);
  }

  &.alert-info {
    background-color: var(--color-sign-normal-light);
    border-color: var(--color-sign-normal-dark);
  }
}

.unimplemented {
  margin-bottom: 0;
  color: red;

  &::before {
    content: "unimplemented: ";
  }
}

.ref-alt {
  font-weight: bold;

  > {
    .ref,
    .alt {
      display: inline-block;
      height: 18px;
      padding: 0 6px;
      line-height: 18px;
      vertical-align: middle;
    }

    .ref[data-sum]::after,
    .alt[data-sum]::after {
      position: relative;
      display: inline-block;
      padding: 0 4px;
      margin: 0 -3px 4px 3px;
      font-size: 10px;
      font-weight: lighter;
      line-height: 12px;
      vertical-align: middle;
      color: white;
      content: attr(data-sum) "bp";
      border-radius: 6px;
    }

    .ref {
      position: relative;
      padding-right: 4px;
      color: var(--color-mutation-ref);
      background-color: #d8f0f4;
      border-top: solid 1px var(--color-mutation-ref);
      border-bottom: solid 1px var(--color-mutation-ref);
      border-left: solid 1px var(--color-mutation-ref);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      &[data-sum]::after {
        background-color: var(--color-mutation-ref);
      }

      &[data-sum="0"]::after,
      &[data-sum="1"]::after,
      &[data-sum="2"]::after,
      &[data-sum="3"]::after,
      &[data-sum="4"]::after {
        display: none;
      }
    }

    .alt {
      padding-left: 9px;
      color: var(--color-mutation-alt);
      background-color: #fde2e7;
      border-top: solid 1px var(--color-mutation-alt);
      border-right: solid 1px var(--color-mutation-alt);
      border-bottom: solid 1px var(--color-mutation-alt);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      &[data-sum]::after {
        background-color: var(--color-mutation-alt);
      }

      &[data-sum="0"]::after,
      &[data-sum="1"]::after,
      &[data-sum="2"]::after,
      &[data-sum="3"]::after,
      &[data-sum="4"]::after {
        display: none;
      }
    }

    .arrow {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &::before {
        top: 0;
        right: -6px;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 6px solid var(--color-key-dark1);
      }

      &::after {
        top: 1px;
        right: -5px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 6px solid #d8f0f4;
      }
    }
  }
}

.variant-function {
  display: inline-block;
  padding: 0 8px;
  color: white;
  border-radius: 9px;

  &[data-function="T"],
  &[data-function="B"] {
    background-color: var(--color-sign-safe);
  }

  &[data-function="LB"] {
    background-color: var(--color-sign-normal);
  }

  &[data-function="POSSD"],
  &[data-function="LP"] {
    background-color: var(--color-sign-warning);
  }

  &[data-function="D"],
  &[data-function="PROBD"] {
    background-color: var(--color-sign-dangerous);
  }

  &[data-function="U"] {
    color: var(--color-black);
    background-color: #eaeae9;
  }

  &[data-function="AMBIGUOUS"] {
    background-color: var(--color-sign-unknown);
  }

  &[data-function="CADD_HIGH"] {
    background-color: var(--color-sign-dangerous);
  }

  &[data-function="CADD_MODERATE"] {
    background-color: var(--color-sign-warning);
  }

  &[data-function="CADD_LOW"] {
    background-color: var(--color-sign-safe);
  }
}

.star-rating {
  position: absolute;
  display: inline-block;
  font-size: 15px;

  &::after {
    color: #dfdedd;
    content: "\02605\02605\02605\02605";
  }

  > .star-rating-item {
    position: absolute;
    overflow: hidden;

    &::before {
      color: var(--color-key-dark1);
      content: "\02605\02605\02605\02605";
    }

    &[data-stars="0"] {
      width: 0%;
    }

    &[data-stars="1"] {
      width: 25%;
    }

    &[data-stars="2"] {
      width: 50%;
    }

    &[data-stars="3"] {
      width: 75%;
    }

    &[data-stars="4"] {
      width: 100%;
    }
  }
}

togostanza--menu {
  position: relative;
  z-index: var(--z-index-togostanza-menu);
  display: block;
  padding: 2px;
  margin-left: auto;
  cursor: pointer;
}
