@charset "UTF-8";
@use "foundation/variables" as *;
@use "components/badge";
@use "components/dataTable_wrapper";
@use "components/table";
@use "components/variant-function";
@use "components/within-sticky-table-header";
@use "sass:color";

main {
  font-family: "Roboto Condensed", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $COLOR_KEY_DARK;

  &:link {
    color: $COLOR_KEY_DARK;
    text-decoration: underline;
  }

  &:active,
  &:hover {
    color: $COLOR_KEY_DEEP;
  }
}

label > input {
  margin-right: 0.3em;
}

ul {
  padding-inline-start: 2rem;

  &.no-bullet {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.table {
  > thead > tr > th {
    + th {
      padding-left: 10px;
    }
  }

  > tbody > tr > td {
    padding-left: 10px;

    &.text-center {
      padding: 14px 0 0;
      text-align: center;
    }
  }
}

.alert {
  padding: 4px 6px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: $COLOR_BLACK;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  &.alert-danger {
    background-color: color.adjust($COLOR_SIGN_DANGEROUS, $lightness: 30%);
    border-color: color.adjust($COLOR_SIGN_DANGEROUS, $lightness: -2%);
  }

  &.alert-warning {
    background-color: color.adjust($COLOR_SIGN_WARNING, $lightness: 45%);
    border-color: color.adjust($COLOR_SIGN_WARNING, $lightness: -2%);
  }

  &.alert-info {
    background-color: color.adjust($COLOR_SIGN_NORMAL, $lightness: 42%);
    border-color: color.adjust($COLOR_SIGN_NORMAL, $lightness: -2%);
  }
}

.unimplemented {
  margin-bottom: 0;
  color: red;

  &::before {
    content: "unimplemented: ";
  }
}

.ref-alt {
  font-weight: bold;

  > {
    .ref,
    .alt {
      display: inline-block;
      height: 18px;
      padding: 0 6px;
      line-height: 18px;
      vertical-align: middle;
    }

    .ref[data-sum]::after,
    .alt[data-sum]::after {
      position: relative;
      display: inline-block;
      padding: 0 4px;
      margin: 0 -3px 4px 3px;
      font-size: 10px;
      font-weight: lighter;
      line-height: 12px;
      vertical-align: middle;
      color: white;
      content: attr(data-sum) "bp";
      border-radius: 6px;
    }

    .ref {
      position: relative;
      padding-right: 4px;
      color: $COLOR_REF;
      background-color: #d8f0f4;
      border-top: solid 1px $COLOR_REF;
      border-bottom: solid 1px $COLOR_REF;
      border-left: solid 1px $COLOR_REF;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      &[data-sum]::after {
        background-color: $COLOR_REF;
      }

      &[data-sum="0"]::after,
      &[data-sum="1"]::after,
      &[data-sum="2"]::after,
      &[data-sum="3"]::after,
      &[data-sum="4"]::after {
        display: none;
      }
    }

    .alt {
      padding-left: 9px;
      color: $COLOR_ALT;
      background-color: #fde2e7;
      border-top: solid 1px $COLOR_ALT;
      border-right: solid 1px $COLOR_ALT;
      border-bottom: solid 1px $COLOR_ALT;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      &[data-sum]::after {
        background-color: $COLOR_ALT;
      }

      &[data-sum="0"]::after,
      &[data-sum="1"]::after,
      &[data-sum="2"]::after,
      &[data-sum="3"]::after,
      &[data-sum="4"]::after {
        display: none;
      }
    }

    .arrow {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &::before {
        top: 0;
        right: -6px;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 6px solid $COLOR_KEY_DEEP;
      }

      &::after {
        top: 1px;
        right: -5px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 6px solid #d8f0f4;
      }
    }
  }
}

.variant-function {
  display: inline-block;
  padding: 0 8px;
  color: white;
  border-radius: 9px;

  &[data-function="T"],
  &[data-function="B"] {
    background-color: $COLOR_SIGN_SAFE;
  }

  &[data-function="LB"] {
    background-color: $COLOR_SIGN_NORMAL;
  }

  &[data-function="POSSD"],
  &[data-function="LP"] {
    background-color: $COLOR_SIGN_WARNING;
  }

  &[data-function="D"],
  &[data-function="PROBD"] {
    background-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-function="U"] {
    color: $COLOR_BLACK;
    background-color: #eaeae9;
  }

  &[data-function="AMBIGUOUS"] {
    background-color: $COLOR_SIGN_UNKNOWN;
  }
}

.clinical-significance {
  &::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    content: attr(data-sign) "";
    border-style: solid;
    border-width: 1px;
    border-radius: 9px;
  }

  &[data-sign="P"]::before {
    color: $COLOR_SIGN_DANGEROUS;
    background-color: #ffeeed;
    border-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-sign="LP"]::before {
    color: $COLOR_SIGN_WARNING;
    background-color: #fff7e6;
    border-color: $COLOR_SIGN_WARNING;
  }

  &[data-sign="US"]::before {
    color: $COLOR_GRAY;
    background-color: #eaeae9;
    border-color: $COLOR_GRAY;
  }

  &[data-sign="LB"]::before {
    color: $COLOR_SIGN_NORMAL;
    background-color: #f3f9e6;
    border-color: $COLOR_SIGN_NORMAL;
  }

  &[data-sign="B"]::before {
    color: $COLOR_SIGN_SAFE;
    background-color: #e5fbe7;
    border-color: $COLOR_SIGN_SAFE;
  }

  &[data-sign="CI"]::before {
    color: $COLOR_SIGN_MODIFIER;
    background-color: #f9edff;
    border-color: $COLOR_SIGN_MODIFIER;
  }

  &[data-sign="DR"]::before,
  &[data-sign="A"]::before,
  &[data-sign="RF"]::before,
  &[data-sign="PR"]::before,
  &[data-sign="AF"]::before,
  &[data-sign="O"]::before {
    color: $COLOR_SIGN_OTHER;
    background-color: #fff7cf;
    border-color: $COLOR_SIGN_OTHER;
  }

  &[data-sign="NP"]::before,
  &[data-sign="AN"]::before {
    color: $COLOR_BLACK;
    background-color: white;
    border-color: $COLOR_GRAY;
  }
}

.clinical-significance-full {
  padding: 0 7px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 8.5px;

  &[data-sign="P"] {
    color: $COLOR_SIGN_DANGEROUS;
    background-color: #ffeeed;
    border-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-sign="LP"] {
    color: $COLOR_SIGN_WARNING;
    background-color: #fff7e6;
    border-color: $COLOR_SIGN_WARNING;
  }

  &[data-sign="US"] {
    color: $COLOR_GRAY;
    background-color: #eaeae9;
    border-color: $COLOR_GRAY;
  }

  &[data-sign="LB"] {
    color: $COLOR_SIGN_NORMAL;
    background-color: #f3f9e6;
    border-color: $COLOR_SIGN_NORMAL;
  }

  &[data-sign="B"] {
    color: $COLOR_SIGN_SAFE;
    background-color: #e5fbe7;
    border-color: $COLOR_SIGN_SAFE;
  }

  &[data-sign="CI"] {
    color: $COLOR_SIGN_MODIFIER;
    background-color: #f9edff;
    border-color: $COLOR_SIGN_MODIFIER;
  }

  &[data-sign="DR"],
  &[data-sign="A"],
  &[data-sign="RF"],
  &[data-sign="PR"],
  &[data-sign="AF"],
  &[data-sign="O"] {
    color: $COLOR_SIGN_OTHER;
    background-color: #fff7cf;
    border-color: $COLOR_SIGN_OTHER;
  }

  &[data-sign="NP"],
  &[data-sign="AN"] {
    color: $COLOR_BLACK;
    background-color: white;
    border-color: $COLOR_GRAY;
  }
}

.frequency-graph > .dataset {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 9px;
  height: 20px;
  margin-right: 1px;
  vertical-align: middle;
  background-color: $COLOR_KEY_DEEP;
  border: solid 1px rgb(148 146 141 / 25%);

  &::before {
    position: absolute;
    display: block;
    width: 7px;
    content: "";
    background-color: white;
  }

  &::after {
    position: absolute;
    top: 1px;
    display: block;
    width: 7px;
    height: 1px;
    content: "";
    background-color: white;
    box-shadow: 0 3px white, 0 6px white, 0 9px white, 0 12px white,
      0 15px white;
    opacity: 0.75;
  }

  &[data-dataset="jga_wes"],
  &[data-dataset="jga_snp"] {
    background-color: $COLOR_DATASET_JGA;
  }

  &[data-dataset="tommo"] {
    background-color: $COLOR_DATASET_TOMMO;
  }

  &[data-dataset="gem_j_wga"] {
    background-color: $COLOR_DATASET_GEM_J;
  }

  &[data-dataset="hgvd"] {
    background-color: $COLOR_DATASET_HGVD;
  }

  &[data-dataset^="gnomad"] {
    background-color: $COLOR_GRAY;
  }

  &[data-frequency="na"] {
    background-color: rgb(234 234 233 / 60%);

    &::after {
      display: none;
    }
  }

  &[data-frequency="monomorphic"]::before {
    height: 18px;
  }

  &[data-frequency="singleton"]::before {
    height: 17px;
  }

  &[data-frequency="<0.0001"]::before {
    height: 14px;
  }

  &[data-frequency="<0.001"]::before {
    height: 11px;
  }

  &[data-frequency="<0.01"]::before {
    height: 8px;
  }

  &[data-frequency="<0.05"]::before {
    height: 5px;
  }

  &[data-frequency="<0.5"]::before {
    height: 2px;
  }
}

.frequency-detail {
  width: 100%;

  > tbody > tr > td {
    line-height: 18px;

    .dataset-icon {
      display: inline-block;
      margin-right: 0.2em;
      vertical-align: middle;
    }

    &.alt,
    &.total,
    &.frequency {
      text-align: right;
    }

    &.alt {
      font-weight: bold;
      color: $COLOR_ALT;

      &::after {
        margin-left: 0.5em;
        font-size: 10px;
        color: $COLOR_BLACK;
        content: "/";
      }
    }

    &.total {
      font-size: 10px;
    }
  }
}

.allele-frequency-graph > .dataset {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 31px;
  height: 14px;
  margin-right: 1px;
  vertical-align: middle;
  background-color: $COLOR_KEY_DEEP;
  border: solid 1px #fff;
  box-shadow: 0 0 0 1px #dfdedd;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 12px;
    content: "";
    background-color: white;
  }

  &::before {
    right: 0;
  }

  &::after {
    top: 0;
    left: -1px;
    width: 1px;
    box-shadow: 5px 0 white, 10px 0 white, 15px 0 white, 20px 0 white,
      25px 0 white;
    opacity: 0.75;
  }

  &[data-dataset="gem_j_wga"],
  &[data-dataset="GEM-J WGA"] {
    background-color: $COLOR_DATASET_GEM_J;
    box-shadow: 0 0 0 1px $COLOR_DATASET_GEM_J;
  }

  &[data-dataset="JGA-WGS"],
  &[data-dataset="jga_wes"],
  &[data-dataset="JGA-WES"],
  &[data-dataset="jga_snp"],
  &[data-dataset="JGA-SNP"] {
    background-color: $COLOR_DATASET_JGA;
    box-shadow: 0 0 0 1px $COLOR_DATASET_JGA;
  }

  &[data-dataset="tommo"],
  &[data-dataset^="ToMMo"] {
    background-color: $COLOR_DATASET_TOMMO;
    box-shadow: 0 0 0 1px $COLOR_DATASET_TOMMO;
  }

  &[data-dataset="ncbn"],
  &[data-dataset="NCBN"] {
    background-color: $COLOR_DATASET_NCBN;
    box-shadow: 0 0 0 1px $COLOR_DATASET_NCBN;
  }

  &[data-dataset="hgvd"] {
    background-color: $COLOR_DATASET_HGVD;
    box-shadow: 0 0 0 1px $COLOR_DATASET_HGVD;
  }

  &[data-dataset^="gnomad"],
  &[data-dataset^="gnomAD"] {
    background-color: $COLOR_GRAY;
  }

  &[data-frequency="na"] {
    background-color: rgb(234 234 233 / 60%);

    &::after {
      display: none;
    }
  }

  &[data-frequency="monomorphic"]::before {
    width: 29px;
  }

  &[data-frequency="singleton"]::before {
    width: 26px;
  }

  &[data-frequency="<0.0001"]::before {
    width: 25px;
  }

  &[data-frequency="<0.001"]::before {
    width: 20px;
  }

  &[data-frequency="<0.01"]::before {
    width: 15px;
  }

  &[data-frequency="<0.05"]::before {
    width: 10px;
  }

  &[data-frequency="<0.5"]::before {
    width: 5px;
  }
}

.dataset-icon {
  position: relative;
  height: 18px;
  font-family: fontello;

  &::before {
    position: relative;
    left: 2px;
    display: inline-block;
    height: 18px;
    margin-right: 2px;
    content: "";
  }

  > .properties {
    position: relative;
    top: -1px;
    left: -2px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 10px;
    font-weight: lighter;
    line-height: 9px;
    vertical-align: middle;
    transform: scale(0.9);
    transform: scale(0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;

    &::before,
    &::after {
      display: block;
      height: 10px;
    }
  }

  &[data-dataset="jga_wgs"]::before,
  &[data-dataset="jga_wes"]::before,
  &[data-dataset="jga_snp"]::before {
    color: $COLOR_DATASET_JGA;
  }

  &[data-dataset="tommo"]::before {
    color: $COLOR_DATASET_TOMMO;
  }

  &[data-dataset="ncbn"]::before {
    color: $COLOR_DATASET_NCBN;
  }

  &[data-dataset="hgvd"]::before,
  &[data-dataset="mgend"]::before {
    color: $COLOR_DATASET_HGVD;
  }

  &[data-dataset="gem_j_wga"]::before {
    color: $COLOR_DATASET_GEM_J;
  }

  &[data-dataset="bbj"]::before {
    color: $COLOR_DATASET_BBJ;
  }

  &[data-dataset="clinvar"]::before,
  &[data-dataset^="gnomad"]::before {
    color: $COLOR_GRAY;
  }

  &[data-dataset="clinvar"] > .properties::before,
  &[data-dataset="mgend"] > .properties::before {
    color: $COLOR_SIGN_DANGEROUS;
    content: "Disease";
  }

  &[data-dataset="tommo"] > .properties::after,
  &[data-dataset="gem_j_wga"] > .properties::after {
    content: "WGS";
  }

  &[data-dataset="jga_wes"] > .properties::after,
  &[data-dataset="hgvd"] > .properties::after,
  &[data-dataset^="gnomad"] > .properties::after {
    content: "WES";
  }

  &[data-dataset="jga_snp"] > .properties::after,
  &[data-dataset="bbj"] > .properties::after {
    content: "SNP";
  }
}

.star-rating {
  position: absolute;
  display: inline-block;
  font-size: 15px;

  &::after {
    color: #dfdedd;
    content: "\02605\02605\02605\02605";
  }

  > .star-rating-item {
    position: absolute;
    overflow: hidden;

    &::before {
      color: $COLOR_KEY_DEEP;
      content: "\02605\02605\02605\02605";
    }

    &[data-stars="0"] {
      width: 0%;
    }

    &[data-stars="1"] {
      width: 25%;
    }

    &[data-stars="2"] {
      width: 50%;
    }

    &[data-stars="3"] {
      width: 75%;
    }

    &[data-stars="4"] {
      width: 100%;
    }
  }
}

togostanza--menu {
  position: relative;
  z-index: var(--z-index-togostanza-menu);
  display: block;
  padding: 2px;
  margin-left: auto;
  cursor: pointer;
}
