@charset "UTF-8";
@use "foundation/variables" as *;
@use "components/badge";
@use "components/dataTable_wrapper";
@use "components/table";
@use "components/variant-function";
@use "components/within-sticky-table-header";

main {
  font-family: "Roboto Condensed", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $COLOR_KEY_DARK;

  &:link {
    color: $COLOR_KEY_DARK;
    text-decoration: underline;
  }

  &:active,
  &:hover {
    color: $COLOR_KEY_DEEP;
  }
}

label > input {
  margin-right: .3em;
}

ul {
  padding-inline-start: 2rem;

  &.no-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.table {
  > thead>tr>th {
    +th {
      padding-left: 10px;
    }
  }

  >tbody>tr>td {
    padding-left: 10px;
  }
}

.text-center {
  text-align: center;
}

.alert {
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  color: $COLOR_BLACK;
  padding: 4px 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  &.alert-danger {
    border-color: darken($COLOR_SIGN_DANGEROUS, 2%);
    background-color: lighten($COLOR_SIGN_DANGEROUS, 30%);
  }
  &.alert-warning {
    border-color: darken($COLOR_SIGN_WARNING, 2%);
    background-color: lighten($COLOR_SIGN_WARNING, 45%);
  }
  &.alert-info {
    border-color: darken($COLOR_SIGN_NORMAL, 2%);
    background-color: lighten($COLOR_SIGN_NORMAL, 42%);
  }
}

.unimplemented {
  color: red;
  margin-bottom: 0;

  &:before {
    content: "unimplemented: ";
  }
}

.ref-alt {
  font-weight: bold;

  > {
    .ref, .alt {
      display: inline-block;
      line-height: 18px;
      height: 18px;
      padding: 0 6px;
      vertical-align: middle;
    }

    .ref[data-sum]:after,
    .alt[data-sum]:after {
      color: white;
      font-size: 10px;
      display: inline-block;
      line-height: 12px;
      padding: 0 4px;
      border-radius: 6px;
      vertical-align: middle;
      font-weight: lighter;
      margin: 0 -3px 4px 3px;
      position: relative;
      content: attr(data-sum) "bp";
    }

    .ref {
      &[data-sum="0"]:after,
      &[data-sum="1"]:after,
      &[data-sum="2"]:after,
      &[data-sum="3"]:after,
      &[data-sum="4"]:after {
        display: none;
      }
    }

    .alt {
      &[data-sum="0"]:after,
      &[data-sum="1"]:after,
      &[data-sum="2"]:after,
      &[data-sum="3"]:after,
      &[data-sum="4"]:after {
        display: none;
      }
    }

    .ref {
      border-left: solid 1px $COLOR_REF;
      border-top: solid 1px $COLOR_REF;
      border-bottom: solid 1px $COLOR_REF;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: $COLOR_REF;
      background-color: #d8f0f4;
      position: relative;
      padding-right: 4px;

      &[data-sum]:after {
        background-color: $COLOR_REF;
      }
    }

    .alt {
      border-right: solid 1px $COLOR_ALT;
      border-top: solid 1px $COLOR_ALT;
      border-bottom: solid 1px $COLOR_ALT;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: $COLOR_ALT;
      background-color: #fde2e7;
      padding-left: 9px;

      &[data-sum]:after {
        background-color: $COLOR_ALT;
      }
    }

    .arrow {
      position: relative;

      &:before,
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
      }

      &:before {
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 6px solid $COLOR_KEY_DEEP;
        top: 0;
        right: -6px;
      }

      &:after {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 6px solid #d8f0f4;
        top: 1px;
        right: -5px;
      }
    }
  }
}

.variant-function {
  color: white;
  border-radius: 9px;
  padding: 0 8px;
  display: inline-block;

  &[data-function="T"],
  &[data-function="B"] {
    background-color: $COLOR_SIGN_SAFE;
  }

  &[data-function="LB"] {
    background-color: $COLOR_SIGN_NORMAL;
  }

  &[data-function="POSSD"],
  &[data-function="LP"] {
    background-color: $COLOR_SIGN_WARNING;
  }

  &[data-function="D"],
  &[data-function="PROBD"] {
    background-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-function="U"] {
    color: $COLOR_BLACK;
    background-color: #eaeae9;
  }

  &[data-function="AMBIGUOUS"] {
    background-color: $COLOR_SIGN_UNKNOWN;
  }
}

.clinical-significance {
  &:before {
    content: attr(data-sign) "";
    width: 18px;
    line-height: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 3px;
    border-radius: 9px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
  }

  &[data-sign="P"]:before {
    color: $COLOR_SIGN_DANGEROUS;
    border-color: $COLOR_SIGN_DANGEROUS;
    background-color: #ffeeed;
  }

  &[data-sign="LP"]:before {
    color: $COLOR_SIGN_WARNING;
    border-color: $COLOR_SIGN_WARNING;
    background-color: #fff7e6;
  }

  &[data-sign="US"]:before {
    color: $COLOR_GRAY;
    border-color: $COLOR_GRAY;
    background-color: #eaeae9;
  }

  &[data-sign="LB"]:before {
    color: $COLOR_SIGN_NORMAL;
    border-color: $COLOR_SIGN_NORMAL;
    background-color: #f3f9e6;
  }

  &[data-sign="B"]:before {
    color: $COLOR_SIGN_SAFE;
    border-color: $COLOR_SIGN_SAFE;
    background-color: #e5fbe7;
  }

  &[data-sign="CI"]:before {
    color: $COLOR_SIGN_MODIFIER;
    border-color: $COLOR_SIGN_MODIFIER;
    background-color: #f9edff;
  }

  &[data-sign="DR"]:before,
  &[data-sign="A"]:before,
  &[data-sign="RF"]:before,
  &[data-sign="PR"]:before,
  &[data-sign="AF"]:before,
  &[data-sign="O"]:before {
    color: $COLOR_SIGN_OTHER;
    border-color: $COLOR_SIGN_OTHER;
    background-color: #fff7cf;
  }

  &[data-sign="NP"]:before,
  &[data-sign="AN"]:before {
    color: $COLOR_BLACK;
    border-color: $COLOR_GRAY;
    background-color: white;
  }
}

.clinical-significance-full {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 8.5px;
  padding: 0 7px;

  &[data-sign="P"] {
    color: $COLOR_SIGN_DANGEROUS;
    border-color: $COLOR_SIGN_DANGEROUS;
    background-color: #ffeeed;
  }

  &[data-sign="LP"] {
    color: $COLOR_SIGN_WARNING;
    border-color: $COLOR_SIGN_WARNING;
    background-color: #fff7e6;
  }

  &[data-sign="US"] {
    color: $COLOR_GRAY;
    border-color: $COLOR_GRAY;
    background-color: #eaeae9;
  }

  &[data-sign="LB"] {
    color: $COLOR_SIGN_NORMAL;
    border-color: $COLOR_SIGN_NORMAL;
    background-color: #f3f9e6;
  }

  &[data-sign="B"] {
    color: $COLOR_SIGN_SAFE;
    border-color: $COLOR_SIGN_SAFE;
    background-color: #e5fbe7;
  }

  &[data-sign="CI"] {
    color: $COLOR_SIGN_MODIFIER;
    border-color: $COLOR_SIGN_MODIFIER;
    background-color: #f9edff;
  }

  &[data-sign="DR"],
  &[data-sign="A"],
  &[data-sign="RF"],
  &[data-sign="PR"],
  &[data-sign="AF"],
  &[data-sign="O"] {
    color: $COLOR_SIGN_OTHER;
    border-color: $COLOR_SIGN_OTHER;
    background-color: #fff7cf;
  }

  &[data-sign="NP"],
  &[data-sign="AN"] {
    color: $COLOR_BLACK;
    border-color: $COLOR_GRAY;
    background-color: white;
  }
}

.frequency-graph > .dataset {
  display: inline-block;
  width: 9px;
  height: 20px;
  border: solid 1px rgba(148, 146, 141, 0.25);
  box-sizing: border-box;
  position: relative;
  margin-right: 1px;
  background-color: $COLOR_KEY_DEEP;
  vertical-align: middle;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    background-color: white;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    background-color: white;
    opacity: .75;
    height: 1px;
    top: 1px;
    box-shadow: 0 3px white, 0 6px white, 0 9px white, 0 12px white, 0 15px white;
  }

  &[data-dataset="jga_ngs"],
  &[data-dataset="jga_snp"] {
    background-color: $COLOR_DATASET_JGA;
  }

  &[data-dataset="tommo"] {
    background-color: $COLOR_DATASET_TOMMO;
  }

  &[data-dataset="gem_j_wga"] {
    background-color: $COLOR_DATASET_GEM_J;
  }

  &[data-dataset="hgvd"] {
    background-color: $COLOR_DATASET_HGVD;
  }

  &[data-dataset^="gnomad"] {
    background-color: $COLOR_GRAY;
  }

  &[data-frequency="na"] {
    background-color: rgba(234, 234, 233, 0.6);

    &:after {
      display: none;
    }
  }

  &[data-frequency="monomorphic"]:before {
    height: 18px;
  }

  &[data-frequency="singleton"]:before {
    height: 17px;
  }

  &[data-frequency="<0.0001"]:before {
    height: 14px;
  }

  &[data-frequency="<0.001"]:before {
    height: 11px;
  }

  &[data-frequency="<0.01"]:before {
    height: 8px;
  }

  &[data-frequency="<0.05"]:before {
    height: 5px;
  }

  &[data-frequency="<0.5"]:before {
    height: 2px;
  }
}

.frequency-detail {
  width: 100%;

  > tbody > tr > td {
    line-height: 18px;

    .dataset-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: .2em;
    }

    &.alt,
    &.total,
    &.frequency {
      text-align: right;
    }

    &.alt {
      font-weight: bold;
      color: $COLOR_ALT;

      &:after {
        content: "/";
        font-size: 10px;
        color: $COLOR_BLACK;
        margin-left: .5em;
      }
    }

    &.total {
      font-size: 10px;
    }
  }
}

.allele-frequency-graph > .dataset {
  display: inline-block;
  width: 36px;
  height: 14px;
  border: solid 1px #ffffff;
  box-shadow: 0 0 0 1px #dfdedd;
  position: relative;
  margin-right: 1px;
  background-color: $COLOR_KEY_DEEP;
  vertical-align: middle;
  box-sizing: border-box;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    background-color: white;
  }

  &:before {
    right: 0;
  }

  &:after {
    opacity: .75;
    width: 1px;
    top: 0;
    left: -1px;
    box-shadow: 5px 0 white, 10px 0 white, 15px 0 white, 20px 0 white, 25px 0 white, 30px 0 white;
  }

  &[data-dataset="gem_j_wga"],
  &[data-dataset="GEM-J WGA"] {
    background-color: $COLOR_DATASET_GEM_J;
    box-shadow: 0 0 0 1px $COLOR_DATASET_GEM_J;
  }

  &[data-dataset="jga_ngs"],
  &[data-dataset="JGA-NGS"],
  &[data-dataset="jga_snp"],
  &[data-dataset="JGA-SNP"] {
    background-color: $COLOR_DATASET_JGA;
    box-shadow: 0 0 0 1px $COLOR_DATASET_JGA;
  }

  &[data-dataset="tommo"],&[data-dataset="ToMMo"] {
    background-color: $COLOR_DATASET_TOMMO;
    box-shadow: 0 0 0 1px $COLOR_DATASET_TOMMO;
  }

  &[data-dataset="ncbn"],&[data-dataset="NCBN"] {
    background-color: $COLOR_DATASET_NCBN;
    box-shadow: 0 0 0 1px $COLOR_DATASET_NCBN;
  }

  &[data-dataset="hgvd"] {
    background-color: $COLOR_DATASET_HGVD;
    box-shadow: 0 0 0 1px $COLOR_DATASET_HGVD;
  }

  &[data-dataset^="gnomad"],
  &[data-dataset^="gnomAD"] {
    background-color: $COLOR_GRAY;
  }

  &[data-frequency="na"] {
    background-color: rgba(234, 234, 233, 0.6);

    &:after {
      display: none;
    }
  }

  &[data-frequency="monomorphic"]:before {
    width: 35px;
  }

  &[data-frequency="singleton"]:before {
    width: 31px;
  }

  &[data-frequency="<0.0001"]:before {
    width: 26px;
  }

  &[data-frequency="<0.001"]:before {
    width: 21px;
  }

  &[data-frequency="<0.01"]:before {
    width: 16px;
  }

  &[data-frequency="<0.05"]:before {
    width: 11px;
  }

  &[data-frequency="<0.5"]:before {
    width: 6px;
  }
}

.dataset-icon {
  font-family: fontello;
  height: 18px;
  position: relative;

  &:before {
    content: "î €";
    margin-right: 2px;
    position: relative;
    left: 2px;
    display: inline-block;
    height: 18px;
  }

  > .properties {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 10px;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: lighter;
    line-height: 9px;
    position: relative;
    left: -2px;
    top: -1px;
    vertical-align: middle;
    height: 20px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);

    &::before, &::after {
      display: block;
      height: 10px;
    }
  }

  &[data-dataset="jga_ngs"]:before,
  &[data-dataset="jga_snp"]:before {
    color: $COLOR_DATASET_JGA;
  }

  &[data-dataset="tommo"]:before {
    color: $COLOR_DATASET_TOMMO;
  }

  &[data-dataset="ncbn"]:before {
    color: $COLOR_DATASET_NCBN;
  }

  &[data-dataset="hgvd"]:before,
  &[data-dataset="mgend"]:before {
    color: $COLOR_DATASET_HGVD;
  }

  &[data-dataset="gem_j_wga"]:before {
    color: $COLOR_DATASET_GEM_J;
  }

  &[data-dataset="bbj"]:before {
    color: $COLOR_DATASET_BBJ;
  }

  &[data-dataset="clinvar"]:before,
  &[data-dataset^="gnomad"]:before {
    color: $COLOR_GRAY;
  }

  &[data-dataset="clinvar"] > .properties::before,
  &[data-dataset="mgend"] > .properties::before {
    color: $COLOR_SIGN_DANGEROUS;
    content: "Disease";
  }

  &[data-dataset="tommo"] > .properties::after,
  &[data-dataset="gem_j_wga"] > .properties::after {
    content: "WGS";
  }

  &[data-dataset="jga_ngs"] > .properties::after,
  &[data-dataset="hgvd"] > .properties::after,
  &[data-dataset^="gnomad"] > .properties::after {
    content: "WES";
  }

  &[data-dataset="jga_snp"] > .properties::after,
  &[data-dataset="bbj"] > .properties::after {
    content: "SNP";
  }
}

.star-rating {
  display: inline-block;
  position: absolute;
  font-size: 15px;

  &:after {
    content: "\02605\02605\02605\02605";
    color: #dfdedd;
  }

  > .star-rating-item {
    position: absolute;
    overflow: hidden;

    &:before {
      content: "\02605\02605\02605\02605";
      color: $COLOR_KEY_DEEP;
    }

    &[data-stars="1"] {
      width: 25%;
    }

    &[data-stars="2"] {
      width: 50%;
    }

    &[data-stars="3"] {
      width: 75%;
    }

    &[data-stars="4"] {
      width: 100%;
    }
  }
}

