@charset "UTF-8";
@use "foundation/variables" as *;
@use "components/badge";
@use "components/dataset-icon";
@use "components/dataTable_wrapper";
@use "components/frequency";
@use "components/table";
@use "components/variant-function";
@use "components/within-sticky-table-header";
@use "sass:color";

main {
  font-family: "Roboto Condensed", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $COLOR_KEY_DARK;

  &:link {
    color: $COLOR_KEY_DARK;
    text-decoration: underline;
  }

  &:active,
  &:hover {
    color: $COLOR_KEY_DEEP;
  }
}

label > input {
  margin-right: 0.3em;
}

ul {
  padding-inline-start: 2rem;

  &.no-bullet {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.table {
  > thead > tr > th {
    + th {
      padding-left: 10px;
    }
  }

  > tbody > tr > td {
    padding-left: 10px;

    &.text-center {
      padding: 14px 0 0;
      text-align: center;
    }
  }
}

.alert {
  padding: 4px 6px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: $COLOR_BLACK;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  &.alert-danger {
    background-color: color.adjust($COLOR_SIGN_DANGEROUS, $lightness: 30%);
    border-color: color.adjust($COLOR_SIGN_DANGEROUS, $lightness: -2%);
  }

  &.alert-warning {
    background-color: color.adjust($COLOR_SIGN_WARNING, $lightness: 45%);
    border-color: color.adjust($COLOR_SIGN_WARNING, $lightness: -2%);
  }

  &.alert-info {
    background-color: color.adjust($COLOR_SIGN_NORMAL, $lightness: 42%);
    border-color: color.adjust($COLOR_SIGN_NORMAL, $lightness: -2%);
  }
}

.unimplemented {
  margin-bottom: 0;
  color: red;

  &::before {
    content: "unimplemented: ";
  }
}

.ref-alt {
  font-weight: bold;

  > {
    .ref,
    .alt {
      display: inline-block;
      height: 18px;
      padding: 0 6px;
      line-height: 18px;
      vertical-align: middle;
    }

    .ref[data-sum]::after,
    .alt[data-sum]::after {
      position: relative;
      display: inline-block;
      padding: 0 4px;
      margin: 0 -3px 4px 3px;
      font-size: 10px;
      font-weight: lighter;
      line-height: 12px;
      vertical-align: middle;
      color: white;
      content: attr(data-sum) "bp";
      border-radius: 6px;
    }

    .ref {
      position: relative;
      padding-right: 4px;
      color: $COLOR_REF;
      background-color: #d8f0f4;
      border-top: solid 1px $COLOR_REF;
      border-bottom: solid 1px $COLOR_REF;
      border-left: solid 1px $COLOR_REF;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      &[data-sum]::after {
        background-color: $COLOR_REF;
      }

      &[data-sum="0"]::after,
      &[data-sum="1"]::after,
      &[data-sum="2"]::after,
      &[data-sum="3"]::after,
      &[data-sum="4"]::after {
        display: none;
      }
    }

    .alt {
      padding-left: 9px;
      color: $COLOR_ALT;
      background-color: #fde2e7;
      border-top: solid 1px $COLOR_ALT;
      border-right: solid 1px $COLOR_ALT;
      border-bottom: solid 1px $COLOR_ALT;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      &[data-sum]::after {
        background-color: $COLOR_ALT;
      }

      &[data-sum="0"]::after,
      &[data-sum="1"]::after,
      &[data-sum="2"]::after,
      &[data-sum="3"]::after,
      &[data-sum="4"]::after {
        display: none;
      }
    }

    .arrow {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &::before {
        top: 0;
        right: -6px;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 6px solid $COLOR_KEY_DEEP;
      }

      &::after {
        top: 1px;
        right: -5px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 6px solid #d8f0f4;
      }
    }
  }
}

.variant-function {
  display: inline-block;
  padding: 0 8px;
  color: white;
  border-radius: 9px;

  &[data-function="T"],
  &[data-function="B"] {
    background-color: $COLOR_SIGN_SAFE;
  }

  &[data-function="LB"] {
    background-color: $COLOR_SIGN_NORMAL;
  }

  &[data-function="POSSD"],
  &[data-function="LP"] {
    background-color: $COLOR_SIGN_WARNING;
  }

  &[data-function="D"],
  &[data-function="PROBD"] {
    background-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-function="U"] {
    color: $COLOR_BLACK;
    background-color: #eaeae9;
  }

  &[data-function="AMBIGUOUS"] {
    background-color: $COLOR_SIGN_UNKNOWN;
  }
}

.clinical-significance {
  &::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    content: attr(data-sign) "";
    border-style: solid;
    border-width: 1px;
    border-radius: 9px;
  }

  &[data-sign="P"]::before {
    color: $COLOR_SIGN_DANGEROUS;
    background-color: #ffeeed;
    border-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-sign="LP"]::before {
    color: $COLOR_SIGN_WARNING;
    background-color: #fff7e6;
    border-color: $COLOR_SIGN_WARNING;
  }

  &[data-sign="US"]::before {
    color: $COLOR_GRAY;
    background-color: #eaeae9;
    border-color: $COLOR_GRAY;
  }

  &[data-sign="LB"]::before {
    color: $COLOR_SIGN_NORMAL;
    background-color: #f3f9e6;
    border-color: $COLOR_SIGN_NORMAL;
  }

  &[data-sign="B"]::before {
    color: $COLOR_SIGN_SAFE;
    background-color: #e5fbe7;
    border-color: $COLOR_SIGN_SAFE;
  }

  &[data-sign="CI"]::before {
    color: $COLOR_SIGN_MODIFIER;
    background-color: #f9edff;
    border-color: $COLOR_SIGN_MODIFIER;
  }

  &[data-sign="DR"]::before,
  &[data-sign="A"]::before,
  &[data-sign="RF"]::before,
  &[data-sign="PR"]::before,
  &[data-sign="AF"]::before,
  &[data-sign="O"]::before {
    color: $COLOR_SIGN_OTHER;
    background-color: #fff7cf;
    border-color: $COLOR_SIGN_OTHER;
  }

  &[data-sign="NP"]::before,
  &[data-sign="AN"]::before {
    color: $COLOR_BLACK;
    background-color: white;
    border-color: $COLOR_GRAY;
  }
}

.clinical-significance-full {
  padding: 0 7px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 8.5px;

  &[data-sign="P"] {
    color: $COLOR_SIGN_DANGEROUS;
    background-color: #ffeeed;
    border-color: $COLOR_SIGN_DANGEROUS;
  }

  &[data-sign="LP"] {
    color: $COLOR_SIGN_WARNING;
    background-color: #fff7e6;
    border-color: $COLOR_SIGN_WARNING;
  }

  &[data-sign="US"] {
    color: $COLOR_GRAY;
    background-color: #eaeae9;
    border-color: $COLOR_GRAY;
  }

  &[data-sign="LB"] {
    color: $COLOR_SIGN_NORMAL;
    background-color: #f3f9e6;
    border-color: $COLOR_SIGN_NORMAL;
  }

  &[data-sign="B"] {
    color: $COLOR_SIGN_SAFE;
    background-color: #e5fbe7;
    border-color: $COLOR_SIGN_SAFE;
  }

  &[data-sign="CI"] {
    color: $COLOR_SIGN_MODIFIER;
    background-color: #f9edff;
    border-color: $COLOR_SIGN_MODIFIER;
  }

  &[data-sign="DR"],
  &[data-sign="A"],
  &[data-sign="RF"],
  &[data-sign="PR"],
  &[data-sign="AF"],
  &[data-sign="O"] {
    color: $COLOR_SIGN_OTHER;
    background-color: #fff7cf;
    border-color: $COLOR_SIGN_OTHER;
  }

  &[data-sign="NP"],
  &[data-sign="AN"] {
    color: $COLOR_BLACK;
    background-color: white;
    border-color: $COLOR_GRAY;
  }
}

.star-rating {
  position: absolute;
  display: inline-block;
  font-size: 15px;

  &::after {
    color: #dfdedd;
    content: "\02605\02605\02605\02605";
  }

  > .star-rating-item {
    position: absolute;
    overflow: hidden;

    &::before {
      color: $COLOR_KEY_DEEP;
      content: "\02605\02605\02605\02605";
    }

    &[data-stars="0"] {
      width: 0%;
    }

    &[data-stars="1"] {
      width: 25%;
    }

    &[data-stars="2"] {
      width: 50%;
    }

    &[data-stars="3"] {
      width: 75%;
    }

    &[data-stars="4"] {
      width: 100%;
    }
  }
}

togostanza--menu {
  position: relative;
  z-index: var(--z-index-togostanza-menu);
  display: block;
  padding: 2px;
  margin-left: auto;
  cursor: pointer;
}
