.badge {
  position: absolute;
  top: 5px;
  padding: 0 4px;
  margin-left: 4px;
  font-size: 10px;
  vertical-align: middle;
  background-color: #eaeae9;
  border: solid 1px #94928D;
  border-radius: 7px;
}
