@use "@/assets/css/foundation/variables" as *;

.within-sticky-table-header {
  max-height: 300px;
  overflow: auto;

  .table {
    > thead {
      > tr {
        > th {
          position: sticky;
          top: 0;
          z-index: var(--z-index-sticky-table-header);
          background-color: white;

          &::before {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            content: "";
            border-bottom: solid 1px black;
          }
        }
      }
    }
  }
}
