$COLOR_KEY: #46b9cc;
$COLOR_KEY_DEEP: #249eb3;
$COLOR_KEY_DARK: #256d80;
$COLOR_SELECTED: #ffdd00;
$COLOR_DISABLE_DEEP: #808080;
$COLOR_DISABLE: #999999;

$COLOR_BLACK: #444;
$COLOR_GRAY: #94928d;
$COLOR_LIGHT_GRAY: lighten($COLOR_GRAY, 35%);
$COLOR_SEPARATOR: rgba(0, 0, 0, 0.3);
$COLOR_SEPARATOR_SUB: rgba(0, 0, 0, 0.2);

$COLOR_REF: #249eb3;
$COLOR_ALT: #ff6682;

$COLOR_DATASET_JGA: $COLOR_KEY;
$COLOR_DATASET_JGA_LIGHT: lighten($COLOR_DATASET_JGA, 35%);
$COLOR_DATASET_TOMMO: #ca678d;
$COLOR_DATASET_TOMMO_LIGHT: lighten($COLOR_DATASET_TOMMO, 35%);
$COLOR_DATASET_HGVD: #005b80;
$COLOR_DATASET_NCBN: #234b7c;
$COLOR_DATASET_MGEND: $COLOR_DATASET_HGVD;
$COLOR_DATASET_GEM_J: #dc2828;
$COLOR_DATASET_BBJ: #ff993f;
$COLOR_DATASET_FOREIGN: #94928d;

$COLOR_SIGN_SAFE: #04af58;
$COLOR_SIGN_NORMAL: #9dcf3a;
$COLOR_SIGN_WARNING: #ffae00;
$COLOR_SIGN_DANGEROUS: #ff5a54;
$COLOR_SIGN_MODIFIER: #c654ff;
$COLOR_SIGN_OTHER: #9c8200;
$COLOR_SIGN_UNKNOWN: #bbba7e;

:host {
  // z-index
  --z-index-sticky-table-header: 10;
  --z-index-togostanza-menu: 10000;

  // charactor
  // FontAwesome
  --char-lock: "\f023";
  --char-excramation-triangle: "\f071";
}
