$COLOR_KEY: #46B9CC;
$COLOR_KEY_DEEP: #249EB3;
$COLOR_KEY_DARK: #256D80;
$COLOR_SELECTED: #FFDD00;
$COLOR_DISABLE_DEEP: #808080;
$COLOR_DISABLE: #999999;

$COLOR_BLACK: #444;
$COLOR_GRAY: #94928D;
$COLOR_LIGHT_GRAY: lighten($COLOR_GRAY, 35%);
$COLOR_SEPARATOR: rgba(0, 0, 0, .3);
$COLOR_SEPARATOR_SUB: rgba(0, 0, 0, .2);

$COLOR_REF: #249EB3;
$COLOR_ALT: #FF6682;

$COLOR_DATASET_JGA: $COLOR_KEY;
$COLOR_DATASET_JGA_LIGHT: lighten($COLOR_DATASET_JGA, 35%);
$COLOR_DATASET_TOMMO: #ca678d;
$COLOR_DATASET_TOMMO_LIGHT: lighten($COLOR_DATASET_TOMMO, 35%);
$COLOR_DATASET_HGVD: #005B80;
$COLOR_DATASET_NCBN: #234B7C;
$COLOR_DATASET_MGEND: $COLOR_DATASET_HGVD;
$COLOR_DATASET_GEM_J: #DC2828;
$COLOR_DATASET_BBJ: #FF993F;
$COLOR_DATASET_FOREIGN: #94928d;

$COLOR_SIGN_SAFE: #04af58;
$COLOR_SIGN_NORMAL: #9DCF3A;
$COLOR_SIGN_WARNING: #FFAE00;
$COLOR_SIGN_DANGEROUS: #FF5A54;
$COLOR_SIGN_MODIFIER: #C654FF;
$COLOR_SIGN_OTHER: #9C8200;
$COLOR_SIGN_UNKNOWN: #bbba7e;

$Z_INDEX_STICKY_TABLE_HEADER: 10;
