@use "@/assets/css/common";

.table {
  width: 100%;
  table-layout: fixed;

  > tbody > tr {
    > {
      th {
        width: 77px;
        text-align: right;
      }

      td {
        padding-left: 12px;

        .chromosome {
          font-weight: bold;
        }
      }
    }
  }
}
