@use "@/assets/css/common";

.table > tbody > tr {
  > td {
    vertical-align: baseline;

    &.title {
      padding-left: 14px;
    }

    &.review-status {
      position: relative;
      min-width: 97px;
      white-space: initial;
      height: 40px;
    }
  }

  &:first-of-type > td {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
      border: none;
    }
  }
}
