@use "@/assets/css/common";

main {
  .gene-info {
    min-width: 600px;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;

    dt,
    dd {
      padding: 3px 0;
      line-height: 1.2;
      border-bottom: 1px solid var(--color-table-border);
      vertical-align: middle;
      margin: 0;
    }

    dt {
      font-size: 12px;
      color: var(--color-black);
      font-weight: bold;
      text-align: right;
      padding-left: 8px;
      padding-right: 12px;

      &:nth-child(4n + 3) {
        padding-left: 20px;
      }
    }

    dd {
      font-size: 14px;
      color: var(--color-black);
      word-break: break-word;

      a {
        color: var(--color-key-dark);
      }
    }

    // 最後の行（左右両方）のborderを削除
    dt:nth-last-child(-n + 4),
    dd:nth-last-child(-n + 4) {
      border-bottom: none;
    }
  }
}
