@use "@/assets/css/common";

main {
    div#main {
	position: relative;
	width: auto;
	height: auto;
	max-height: calc(var(--togostanza-max-height) * 1px);
	margin: 16px 0 0 16px;

	h1.header {
	    margin: 0 0 12px;
	    font-size: 24px;
	}

	.show_switch {
	    padding: 2px 10px;
	    border-radius: 10px;
	}

	.c_x {
	    color: #fff;
	    background-color: #888;
	}

	.c_a {
	    color: #fff;
	    background-color: #4b5;
	}

	.c_c {
	    color: #fff;
	    background-color: #89f;
	}

	.c_t {
	    color: #fff;
	    background-color: #f88;
	}

	.c_g {
	    color: #fff;
	    background-color: #fa3;
	}

	.c_na {
	    color: #fff;
	    background-color: #bbb;
	}

	.hapid, .open_button, .ctrl, .c_a, .c_c, .c_t, .c_g, .c_as, .c_cs, .c_ts, .c_gs {
	    cursor: pointer;
	}

	#scale_button_bg {
	    position: relative;
	    top:2px;
	    display: inline-block;
	    width: 160px;
	    height: 20px;
	    margin-left: 2px;
	    background-color: #888;
	    border-radius: 10px;
	}

	#scale_button {
	    position: relative;
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    margin-left: 1px;
	    background-color: #fff;
	    border-radius: 8px;
	}

	div#haplotype_view {
	    position: relative;
	    transform-origin: top left;
	}

	div.viewer {
	    font-family: 'Courier New', monospace;

	    ul {
		padding: 0 0 0 20px;
		list-style: none;
	    }

	    li {
		line-height: initial;  	
		white-space: nowrap;
	    }

	    ul#sort_ul {
		display: none;
		margin-top: 10px;
	    }

	    ul#var_freq {
		margin-bottom: 10px;
	    }

	    .var_freq_li {
		display: none;
	    }

	    .v {
		padding: 1px;
	    }

	    .c_r {
		color: #000;
	    }

	    .c_as {
		font-weight: bold;
		color: #fff;
		background-color: #293;
	    }

	    .c_cs {
		font-weight: bold;
		color: #fff;
		background-color: #5055ff;
	    }

	    .c_ts {
		font-weight: bold;
		color: #fff;
		background-color: #f43;
	    }

	    .c_gs {
		font-weight: bold;
		color: #fff;
		background-color: #d80;
	    }

	    .hapid {
		font-weight: bold;
		color: #0d6efd
	    }

	    .freq {
		margin-right: 8px;
		white-space: pre;
		border-radius: 5px;
	    }

	    .pre {
		white-space: pre;
		border-radius: 5px;
	    }

	    .id_space {
		font-weight: bold;
	    }

	    .open_button {
		display: inline-block;
		width: 16px;
		height: 16px;
		padding: 0;
		content: "";
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAIAAAArl3v+AAAACXBIWXMAABYlAAAWJQFJUiTwAAAA3UlEQVQokX3SMQ6DMAwFUDcdk5092eEArJCzwMoBkFhYIh+AI7Cwk5ljwMTEnAO4olRpKW3+ksh6ciQ7QM9M0+Scoz/Z0TiOWZbVdf2bEN3zPG/bFgDWdd22LU1TuIQlSRJF0VG21hpjLgaYEKJpGs55wDEAUEohYsCx4wg75m8Bxz66/nW3fVbnLMtSFIUvlWXJ4JJhGHxJSqm1/kbGGGutF4gohDg99yk4513XHXN+d/oSiOg38UJXoZQ6zSksAOAex3Hf9wGxd9JaSykDYg8ROeeqqprn+eePI6IH/fHDFR20o4MAAAAASUVORK5CYII=");
		background-repeat: no-repeat;
		background-position: 2px 3px;
		background-size: 8px;
	    }

	    .opened_button {
		background-position: 7px 3px;
		transform: rotate(90deg);
	    }

	    .sort_button {
		background-position: 0 0;
		transform: rotate(-90deg);
	    }

	    .no_button {
		display: inline-block;
		width: 16px;
		height: 16px;
		padding: 0;
		content: "";
		background-repeat: no-repeat;
	    }
	}
    }

    div#popup {
	position: absolute;
	z-index: 2;
	display: none;
	padding: 10px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 2px solid #888;
	border-radius: 10px;
	
	.ref-alt {
	    position: relative;
	    top: -1px;
	    display: inline;
	}

	span.chr {
	    font-weight: bold;
	}
	
	ul.freq_bar_graph {
	    width: 140px;
	    list-style: none;
	}

	.r270deg {
	    transform: rotate(-90deg);
	}

	.freq_bar_li {
	    line-height: 180%;
	}

	.freq_series {
	    display: inline-block;
	    width: 40px;
	}

	.freq_bar {
	    position: relative;
	    top: 3px;
	    display: inline-block;
	    height: 16px;
	    background-color: #90f;
	}
    }
}
