@use "@/assets/css/common";

main {
    div#main {
	width: auto;
	height: auto;
	max-height: calc(var(--togostanza-max-height) * 1px);
	margin: 16px 0px 0px 16px;

	h1.header {
	    font-size: 24px;
	    margin: 0px 0px 12px 0px;
	}

	.show_switch {
	    padding: 2px 10px 2px 10px;
	    border-radius: 7px;
	}
	.c_x {
	    color: #ffffff;
	    background-color: #888888;
	}
	.c_a {
	    color: #ffffff;
	    background-color: #ff8888;
	}
	.c_c {
	    color: #ffffff;
	    background-color: #8899ff;
	}
	.c_t {
	    color: #ffffff;
	    background-color: #44bb55;
	}
	.c_g {
	    color: #ffffff;
	    background-color: #ffaa33;
	}
	.c_na {
	    color: #ffffff;
	    background-color: #bbbbbb;
	}
	.hapid, .open_button, .ctrl, .c_a, .c_c, .c_t, .c_g, .c_as, .c_cs, .c_ts, .c_gs {
	    cursor: pointer;
	}
	
	div.viewer {
	    font-family: 'Courier New', monospace;

	    ul {
		list-style: none;
		padding: 0px 0px 0px 20px;
	    }
	    li {  	
		white-space: nowrap;
		line-height: initial;
	    }
	    ul#sort_ul {
		display: none;
		margin-top: 10px;
	    }
	    ul#var_freq {
		margin-bottom: 10px;
	    }
	    .var_freq_li {
		display: none;
	    }
	    .v {
		padding: 1px;
	    }
	    .c_r {
		color: #000000;
	    }
	    .c_as {
		color: #ffffff;
		background-color: #ff4433;
		font-weight: bold;
	    }
	    .c_cs {
		color: #ffffff;
		background-color: #5055ff;
		font-weight: bold;
	    }
	    .c_ts {
		color: #ffffff;
		background-color: #229933;
		font-weight: bold;
	    }
	    .c_gs {
		color: #ffffff;
		background-color: #dd8800;
		font-weight: bold;
	    }
	    .hapid {
		font-weight: bold;
		color: #0d6efd
	    }
	    .freq {
		white-space: pre;
		border-radius: 5px;
		margin-right: 8px;
	    }
	    .pre {
		white-space: pre;
		border-radius: 5px;
	    }
	    .id_space {
		font-weight: bold;
	    }

	    .open_button {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAIAAAArl3v+AAAACXBIWXMAABYlAAAWJQFJUiTwAAAA3UlEQVQokX3SMQ6DMAwFUDcdk5092eEArJCzwMoBkFhYIh+AI7Cwk5ljwMTEnAO4olRpKW3+ksh6ciQ7QM9M0+Scoz/Z0TiOWZbVdf2bEN3zPG/bFgDWdd22LU1TuIQlSRJF0VG21hpjLgaYEKJpGs55wDEAUEohYsCx4wg75m8Bxz66/nW3fVbnLMtSFIUvlWXJ4JJhGHxJSqm1/kbGGGutF4gohDg99yk4513XHXN+d/oSiOg38UJXoZQ6zSksAOAex3Hf9wGxd9JaSykDYg8ROeeqqprn+eePI6IH/fHDFR20o4MAAAAASUVORK5CYII=");
		display: inline-block;
		content: "";
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: 8px;
		padding: 0;
		background-position: 2px 3px;
	    }
	    .opened_button {
		transform: rotate(90deg);
		background-position: 7px 3px;
	    }
	    .sort_button {
		transform: rotate(-90deg);
		background-position: 0px 0px;
	    }
	    .no_button {
		display: inline-block;
		content: "";
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		padding: 0;
	    }
	}
    }

    div#popup {
	background-color: #ffffff;
	border: 2px solid #888888;
	border-radius: 10px;
	display: none;
	position: absolute;
	z-index: 2;
	padding: 10px;
	font-size: 14px;
	color: #555555;
	
	.ref-alt {
	    display: inline;
	    position: relative;
	    top: -1px;
	}
	span.chr {
	    font-weight: bold;
	}
	
	ul.freq_bar_graph {
	    list-style: none;
	    width: 140px;
	}
	.r270deg {
	    transform: rotate(-90deg);
	}
	.freq_bar_li {
	    line-height: 180%;
	}
	.freq_series {
	    display: inline-block;
	    width: 40px;
	}
	.freq_bar {
	    display: inline-block;
	    background-color: #9900ff;
	    height: 16px;
	    position: relative;
	    top: 3px;
	}
    }
}
